{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>
        <div class="sort-block">
            {# Здесь должен быть раздел с сортировкой #}
        </div>


        <div class="content">
            <table border="1">
            <tr >
              <th>ID</th>
              <th>Наименование</th>
              <th>Изображение</th>
              <th>Цена</th>
              <th>Дата релиза</th>
              <th>В наличии</th>
            </tr>
            {% for elem in phones %}
              <tr >
                <td width="100" align="center">{{elem.id}}</td>>
                <td width="300" align="center">{{elem.name}}</td>>
                <td width="300" align="center"> <img src={{elem.image}} alt="Письма мастера дзен" width="100" height="200"> </td>
                <td width="100" align="center">{{elem.price}}</td>>
                <td width="200" align="center">{{elem.release_date}}</td>>
                {%if elem.lte_exists%}
                  <td width="200" align="center">Есть на складе</td>
                {%else%}
                  <td width="200" align="center">Нет на складе</td>
                {%endif%}
              </tr>
            {% endfor %}
          </table>

        </div>
    </div>
{% endblock %}